<%= form_with(model: billboard, local: true, class: "ui form") do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, placeholder: "Name" %>
    <%= f.label :avatar %>
    <%= f.text_field :avatar, placeholder: "Avatar" %>
    <%= f.submit %>
  </div>
<% end %>